<h1>Index</h1>
<div class="row gap-2">
  <% @pets.each do |pet| %>
    <div class="card col-3">
      <div class="card-body">
        <h5 class="card-title"><%= pet.name %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= pet.species %></h6>
        <p class="card-text"><%= pet.address %></p>
        <%= link_to 'Details', pet_path(pet), class: 'card-link btn btn-primary' %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  <% end %>
</div>
